*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, sans-serif;
    margin: 5px 5px;
    overflow: hidden;
}
button{
    padding: 2px 15px;
    margin: 5px 0px;
}

.padr5{
    padding-right: 10px;
}
.padr5{
    padding-left: 10px;
}
.padr10{
    padding-right: 10px;
}
.padr10{
    padding-left: 10px;
}
.center{
    text-align: center;
}
.border{
    border: 1px solid black;
}
.shade{
    background: #eeeeeeb8;
}
.head{
    font-weight: 600;
}
.txt-left{
    text-align: left;
    /* padding-left: 5px; */
}
.txt-right{
    text-align: right;
    padding-right: 5px;
}

.invoice-box {
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    color: #555;
}
.invoice-box table{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid blue;
}
.invoice-box table tr td input,
.invoice-box table tr td textarea
{
    width: 100%;
}
.invoice-box table tr td textarea
{
    height: 60px;
    font-size: 12px;
    padding: px 0px 1px 5px;
    resize: none;
}
.invoice-box table tr td select{
    height: 60px;
    font-size: 18px;
    /* padding-left: 12px; */
}

.taxDetails tr td{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 12px;
}

.item td input{
    text-align: center;
}


/* .invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
} */

.taxDetailsOuter{
    width: 400px;
    position: relative;

}
.taxDetailsOuter table, td{
    width: 200px;
    position: right; 
}